body{
    background-image: url(background.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;

}
.contain{
    width: 1000px;
    min-height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    border-bottom: 50px;
    padding-top: 70px;
    padding-bottom: 90px;
}
header{
    text-align: center;
}
img{
    width: 200px;
    margin-top: 30px;
}
h1 {
    color: rgb(8,220,4);
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
nav{
    width: 85%;
    height: 40px;
    margin: auto;
    background-color: rgb(8,220,4);
    text-align: center;
}
button{
    margin-top: 10px;
}
main{
    color: white;
    width: 85%;
    margin: auto;
}
h2{
    display: inline-block;
    margin-bottom: 5px;
}
span, .bio{
    display: block;
    font-weight: 1px;
}
#medium{
    background-color: rgba(245,180,83);
    width: 35%;

}
#low{
    background-color: rgba(30,195,30);
    width: 60%;

}
#full{
    background-color:rgba(190,65,65);
    width: 15%;

}
#medium, #full, #low{
    height: 25px;
    border-radius: 5px;
}
